<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生登録</title>
</head>
<body>
<h1>受講生登録</h1>
<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">
  <div>
    <label for="name">氏名:</label>
    <input type="text" id="name" th:field="*{student.fullName}" required/>
  </div>
  <div>
    <label for="kana_name">ふりがな:</label>
    <input type="text" id="kana_name" th:field="*{student.kanaName}" required/>
  </div>
  <div>
    <label for="nickname">ニックネーム:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}"/>
  </div>
  <div>
    <label for="email_address">メールアドレス:</label>
    <input type="text" id="email_address" th:field="*{student.emailAddress}" required/>
  </div>
  <div>
    <label for="address">住所:</label>
    <input type="text" id="address" th:field="*{student.address}"/>
  </div>
  <div>
    <label for="age">年齢:</label>
    <input type="text" id="age" th:field="*{student.age}"/>
  </div>
  <div>
    <label for="sex">性別:</label>
    <input type="text" id="sex" th:field="*{student.sex}"/>
  </div>
  <div>
    <label for="remark">備考:</label>
    <input type="text" id="remark" th:field="*{student.remark}"/>
  </div>

  <div>
    <button type="submit">登録</button>
  </div>
</form>

</body>
</html>



