<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生更新後画面</title>
</head>
<body>
<h1>受講生更新後画面</h1>
<table border="1">
  <thead>
  <tr>
    <th>name</th>
    <th>JapaneseName</th>
    <th>nickname</th>
    <th>mailAddress</th>
    <th>area</th>
    <th>age</th>
    <th>sex</th>
    <th>remark</th>
    <th>courseName</th>

  </tr>
  </thead>
  <tbody>
    <td th:text="${studentDetail.student.fullName}">山田太郎</td>
    <td th:text="${studentDetail.student.kanaName}">ヤマダタロウ</td>
    <td th:text="${studentDetail.student.nickname}">タロー</td>
    <td th:text="${studentDetail.student.emailAddress}">taro@example.com</td>
    <td th:text="${studentDetail.student.address}">東京</td>
    <td th:text="${studentDetail.student.age}">20</td>
    <td th:text="${studentDetail.student.sex}">男</td>
    <td th:text="${studentDetail.student.remark}">特になし</td>
    <td>
  <span th:each="course : ${studentDetail.studentCourses}"
        th:text="${course.courseName} + ' '"/>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>



