<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生更新</title>
</head>
<body>

<h1>受講生更新</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">
  <div>
    <input type="hidden" th:field="*{student.id}"/>
  </div>
  <div>
    <label for="name">名前:</label>
    <input type="text" id="name" th:field="*{student.fullName}" required/>
  </div>
  <div>
    <label for="kana_name">フリガナ:</label>
    <input type="text" id="kana_name" th:field="*{student.kanaName}" required/>
  </div>
  <div>
    <label for="nickname">ニックネーム:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}"/>
  </div>
  <div>
    <label for="email_address">メールアドレス:</label>
    <input type="text" id="email_address" th:field="*{student.emailAddress}" required/>
  </div>
  <div>
    <label for="address">住所:</label>
    <input type="text" id="address" th:field="*{student.address}"/>
  </div>
  <div>
    <label for="age">年齢:</label>
    <input type="text" id="age" th:field="*{student.age}"/>
  </div>
  <div>
    <label for="sex">性別:</label>
    <input type="text" id="sex" th:field="*{student.sex}"/>
  </div>
  <div>
    <label for="remark">備考:</label>
    <input type="text" id="remark" th:field="*{student.remark}"/>
  </div>
  <div th:each="course, stat : *{studentCourses}">
    <input type="hidden" th:id="|studentCourses.__${stat.index}__.id|"
           th:field="*{studentCourses[__${stat.index}__].id}"/>
  </div>
  <div th:each="course, stat : *{studentCourses}">
    <label th:for="studentCourses.__${stat.index}__.courseName|">受講コース名:</label>
    <input type="text" th:id="|studentCourses.__${stat.index}__.courseName|"
           th:field="*{studentCourses[__${stat.index}__].courseName}"/>
  </div>
  <div>
    <label for="is_deleted">退会申し込み:</label>
    <input type="checkbox" id="is_deleted" th:field="*{student.isDeleted}"/>
    *注　退会を希望の場合のみ、チェックしてください
  </div>
  <div>
    <button type="submit">再登録</button>
  </div>
</form>
</body>
</html>



